<p id="notice"><%= notice %></p>

<h1>Account Items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_items.each do |account_item| %>
      <tr>
        <td><%= account_item.category %></td>
        <td><%= account_item.value %></td>
        <td><%= link_to 'Show', account_item %></td>
        <td><%= link_to 'Edit', edit_account_item_path(account_item) %></td>
        <td><%= link_to 'Destroy', account_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Item', new_account_item_path %>
